<form action="/" method="post">
    <input type="text" name="angka" id="angka" placeholder="input angka">
    <button type="submit" id="segitiga">Generate Segitiga</button>
    <button type="submit" id="ganjil">Generate Ganjil</button>
    <button type="submit" id="prima">Generate Prima</button>
</form>

<p id="hasil"></p>